{% extends 'app/base.html' %}
{% load static %}
{% block content %}
        <div class="customers">
            <h2>Name: {{ customers.Fname }} {{ customers.Lname }}</h2>
            <p>Gender: {{ customers.gender }}</p>
            <p>Contact: {{ customers.contacts }}</p>
            <p>Email address: {{ customers.email_address }}</p>
        </div>
    <p><a href="{% url 'customer_update' customers.pk %}">+ Edit Customer</a></p>
    <p><a href="{% url 'customer_delete' customers.pk %}">- Delete Customer</a></p>
{% endblock content %}